<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238065592747-t5mhbtlu4qujr3vd5mooq31nsvpo6ip2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238065592747-t5mhbtlu4qujr3vd5mooq31nsvpo6ip2</string>
	<key>API_KEY</key>
	<string>AIzaSyDBgLUUX9yhJuj4v97hhP8HXk7VHpEnw6s</string>
	<key>GCM_SENDER_ID</key>
	<string>238065592747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instantgram</string>
	<key>PROJECT_ID</key>
	<string>instantgram-69930</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgram-69930.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238065592747:ios:a0c04b5d27cda4a647caee</string>
</dict>
</plist>